<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Commits par minute</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ chart_data|tojson }});

        var options = {
          title: 'Commits par minute',
          hAxis: { title: 'Minute', format: '00' },
          vAxis: { title: 'Nombre de commits' },
          legend: { position: 'none' },
          colors: ['#f06292']
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1 style="text-align:center;">Statistiques de Commits</h1>
    <div id="chart_div" style="width: 90%; height: 500px; margin: auto;"></div>
  </body>
</html>
